@-webkit-keyframes text_flicker {
  0% {
    opacity: 1; }
  10% {
    opacity: 0.96; }
  15% {
    opacity: 0.86; }
  18% {
    opacity: 0.86; }
  30% {
    opacity: 0.94; }
  35% {
    opacity: 0.83; }
  40% {
    opacity: 0.88; }
  55% {
    opacity: 0.81; }
  60% {
    opacity: 0.97; }
  80% {
    opacity: 0.84; }
  85% {
    opacity: 0.81; }
  100% {
    opacity: 1; } }
@keyframes text_flicker {
  0% {
    opacity: 1; }
  10% {
    opacity: 0.96; }
  15% {
    opacity: 0.86; }
  18% {
    opacity: 0.86; }
  30% {
    opacity: 0.94; }
  35% {
    opacity: 0.83; }
  40% {
    opacity: 0.88; }
  55% {
    opacity: 0.81; }
  60% {
    opacity: 0.97; }
  80% {
    opacity: 0.84; }
  85% {
    opacity: 0.81; }
  100% {
    opacity: 1; } }
@-webkit-keyframes text_glow {
  25% {
    text-shadow: 0 0 10px #ffffff, 0 0 10px #ffffff, 0 0 10px #ffffff, 0 0 0 #ffffff; }
  50% {
    text-shadow: 0 0 20px #ffffff, 0 0 20px #ffffff, 0 0 20px #ffffff, 0 0 20px #ffffff, 0 0 20px #ffffff, 0 0 20px #ffffff, 0 0 20px #ffffff, 0 0 0 #ffffff; }
  75% {
    text-shadow: 0 0 10px #ffffff, 0 0 10px #ffffff, 0 0 10px #ffffff, 0 0 0 #ffffff; } }
@keyframes text_glow {
  25% {
    text-shadow: 0 0 10px #ffffff, 0 0 10px #ffffff, 0 0 10px #ffffff, 0 0 0 #ffffff; }
  50% {
    text-shadow: 0 0 20px #ffffff, 0 0 20px #ffffff, 0 0 20px #ffffff, 0 0 20px #ffffff, 0 0 20px #ffffff, 0 0 20px #ffffff, 0 0 20px #ffffff, 0 0 0 #ffffff; }
  75% {
    text-shadow: 0 0 10px #ffffff, 0 0 10px #ffffff, 0 0 10px #ffffff, 0 0 0 #ffffff; } }
@-webkit-keyframes cursor_pulse {
  0% {
    opacity: 0; }
  49% {
    opacity: 0; }
  50% {
    opacity: 1; }
  99% {
    opacity: 1; } }
@keyframes cursor_pulse {
  0% {
    opacity: 0; }
  49% {
    opacity: 0; }
  50% {
    opacity: 1; }
  99% {
    opacity: 1; } }
@font-face {
  font-family: 'meyrinregular';
  src: url("../fonts/meyrin-webfont.woff2") format("woff2"), url("../fonts/meyrin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
body {
  background-image: url("../img/background_nebula.jpg");
  background-size: cover;
  background-blend-mode: hard-light;
  background-color: black;
  overflow: hidden;
  z-index: 0; }
  body .star {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    background-color: white;
    height: 2px;
    width: 2px;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    -webkit-transition: left 10s ease-in, top 10s ease-in, background 3s ease;
            transition: left 10s ease-in, top 10s ease-in, background 3s ease; }

.inputform {
  position: fixed;
  padding: 10px;
  margin: 20px;
  float: left;
  z-index: 10;
  width: auto; }
  .inputform form {
    color: white;
    width: 100%;
    -webkit-animation: text_flicker 0.3s alternate infinite;
            animation: text_flicker 0.3s alternate infinite; }
    .inputform form #queryText {
      background: transparent;
      color: transparent;
      text-shadow: 0 0 10px #6eff00, 0 0 10px #6eff00, 0 0 10px #6eff00, 0 0 0 #ffffbc;
      border: none;
      margin: 0;
      padding: 0;
      font-family: "meyrinregular";
      font-size: 250%;
      float: left;
      width: 100%; }
      .inputform form #queryText.glow {
        -webkit-animation: text_glow 0.25s infinite;
                animation: text_glow 0.25s infinite; }
      .inputform form #queryText:active, .inputform form #queryText:focus {
        outline: none !important; }
  .inputform .marker {
    position: absolute;
    -webkit-animation: cursor_pulse 1s infinite;
            animation: cursor_pulse 1s infinite;
    height: 41px;
    width: 20px;
    display: block;
    background-size: 100%;
    background-repeat: repeat;
    box-shadow: 0 0 10px #6eff00;
    background-image: -webkit-repeating-linear-gradient(#bfffbc 0%, #bfffbc 2.5%, rgba(110, 255, 0, 0.5) 2.6%, rgba(110, 255, 0, 0.5) 5%);
    background-image: repeating-linear-gradient(#bfffbc 0%, #bfffbc 2.5%, rgba(110, 255, 0, 0.5) 2.6%, rgba(110, 255, 0, 0.5) 5%); }

.optionform {
  z-index: 10;
  width: 70%;
  padding: 10px;
  margin-left: 25%;
  position: absolute;
  bottom: 0px; }
  .optionform .toggle {
    color: white;
    text-decoration: none;
    display: inline-block;
    -webkit-transition: background 0.5s ease, color 0.5s ease;
            transition: background 0.5s ease, color 0.5s ease;
    background-color: transparent;
    margin: 0 0 5px 2px;
    padding: 6px 10px;
    border: 1px solid white;
    font-style: uppercase; }
    .optionform .toggle:hover {
      background-color: white;
      color: black; }
  .optionform form[name='options'] {
    background: rgba(0, 0, 0, 0.75);
    color: white; }

#container {
  overflow: hidden;
  margin: 0 auto;
  z-index: 2;
  position: relative;
  opacity: 0.9; }
  #container .cell {
    background-color: rgba(255, 255, 255, 0.25);
    float: left;
    margin-left: 1px;
    margin-bottom: 1px; }

#videoCanvas {
  display: none; }

#videoDiv {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 10px; }
/*# sourceMappingURL=style.css.map */