@import 'animations.scss';

@font-face {
  font-family: 'meyrinregular';
  src: url('../fonts/meyrin-webfont.woff2') format('woff2'),
       url('../fonts/meyrin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: url("../img/background_nebula.jpg");
  background-size: cover;
  background-blend-mode: hard-light;
  background-color: black;
  overflow: hidden;
  z-index: 0; // background level
  .star {
    transform: translate3d(0, 0, 0);
    background-color: rgba(255,255,255,1);
    height: 2px;
    width: 2px;
    border-radius: 50%;
    position: absolute;
    z-index: 1; // background elements level
    transition: left 10s ease-in, top 10s ease-in, background 3s ease;
  }
}

// the main form to enter queries
.inputform {
  position: fixed;
  padding: 10px;
  margin: 20px;
  float: left;
  z-index: 10; // gui level
  width: auto;
  form {
    color: white;
    width: 100%;
    animation: text_flicker 0.3s alternate infinite;
    #queryText {
      background: transparent;
      color: transparent;
      text-shadow:  0 0 10px #6eff00,
                    0 0 10px #6eff00,
                    0 0 10px #6eff00,
                    0 0 0 #ffffbc;
      border: none;
      margin: 0;
      padding: 0;
      font-family: "meyrinregular";
      font-size: 250%;
      float: left;
      width: 100%;
      &.glow {
        animation: text_glow 0.25s infinite;
      }
      &:active,&:focus {
        outline: none !important;
      }
    }
  }
  .marker {
    position: absolute;
    animation: cursor_pulse 1s infinite;
    height: 41px;
    width: 20px;
    display: block;
    background-size: 100%;
    background-repeat: repeat;
    box-shadow:  0 0 10px #6eff00;
    background-image:
      repeating-linear-gradient(
        rgba(191,255,188,1) 0%,
        rgba(191,255,188,1) 2.5%,
        rgba(110,255,0,0.5) 2.6%,
        rgba(110,255,0,0.5) 5%
      );
  }
}

.optionform {
  z-index: 10; // gui level
  width: 70%;
  padding: 10px;
  margin-left: 25%;
  position: absolute;
  bottom: 0px;
  .toggle {
    color: rgb(255,255,255);
    text-decoration: none;
    display: inline-block;
    transition: background 0.5s ease, color 0.5s ease;
    background-color: transparent;
    margin: 0 0 5px 2px;
    padding: 6px 10px;
    border: 1px solid rgb(255,255,255);
    font-style: uppercase;
    &:hover {
      background-color: rgb(255,255,255);
      color: rgb(0,0,0)
    }
  }
  form[name='options'] {
    background: rgba(0,0,0,0.75);
    color: rgb(255,255,255);
  }
}

#container {
  overflow: hidden;
  margin: 0 auto;
  z-index: 2; // display level
  position: relative;
  opacity: 0.9;
  .cell {
    background-color: rgba(255,255,255,0.25);
    float: left;
    margin-left: 1px;
    margin-bottom: 1px;
  }
}
#videoCanvas {
  display: none;
}
#videoDiv {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 10px;
}
