@import 'animations.scss';

@font-face {
  font-family: 'meyrinregular';
  src: url('../fonts/meyrin.woff2') format('woff2'),
       url('../fonts/meyrin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'asciid';
  src: url('../fonts/asciid.woff2') format('woff2'),
       url('../fonts/asciid.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: url("../img/background_nebula.jpg");
  background-size: cover;
  background-blend-mode: hard-light;
  background-color: black;
  overflow: hidden;
  z-index: 0; // background level
  .star {
    transform: translate3d(0, 0, 0);
    background-color: rgba(255,255,255,1);
    height: 2px;
    width: 2px;
    border-radius: 50%;
    position: absolute;
    z-index: 1; // background elements level
    transition: left 10s ease-in, top 10s ease-in, background 3s ease;
  }
}

// the main form to enter queries
.inputform {
  position: fixed;
  padding: 10px;
  margin: 20px;
  float: left;
  z-index: 10; // gui level
  width: auto;
  form {
    color: white;
    width: 60%;
    animation: text_flicker 0.3s alternate infinite;
    #queryText {
      background: transparent;
      color: transparent;
      text-shadow:  0 0 10px #6eff00,
                    0 0 10px #6eff00,
                    0 0 10px #6eff00,
                    0 0 0 #ffffbc;
      border: none;
      margin: 0;
      padding: 0;
      font-family: "meyrinregular";
      transition: background-color 1s ease-in-out;
      font-size: 250%;
      float: left;
      width: 100%;
      border-radius: 10px;
      &:focus {
        background-color: black;
      }
      &.glow {
        animation: text_glow 0.25s infinite;
      }
      &:active,&:focus {
        outline: none !important;
      }
    }
  }
  .marker {
    position: absolute;
    animation: cursor_pulse 1s infinite;
    height: 41px;
    width: 20px;
    display: block;
    background-size: 100%;
    background-repeat: repeat;
    box-shadow:  0 0 10px #6eff00;
    background-image:
      repeating-linear-gradient(
        rgba(191,255,188,1) 0%,
        rgba(191,255,188,1) 2.5%,
        rgba(110,255,0,0.5) 2.6%,
        rgba(110,255,0,0.5) 5%
      );
  }
}

#logo {
  width: 788px;
  height: 332px;
  position: absolute;
  right: -120px;
  top: -50px;
  transform: scale(0.7);
  opacity: 1;
  animation: intro_scale 3s ease-in-out 1;
  z-index: 9; // scroller level
  span.logo-fg {
    position: absolute;
    background: url("../img/logo_cutout.gif") no-repeat;
    display: block;
    width: 788px;
    height: 332px;
    top: -2px;
  }
  .gradient {
    -webkit-clip-path: polygon(164px 96px,143px 109px,144px 142px,128px 182px,118px 91px,43px 118px,97px 159px,102px 196px,117px 204px,29px 246px,173px 212px,168px 242px,281px 208px,257px 192px,261px 178px,315px 214px,490px 226px,519px 234px,533px 252px,583px 277px,596px 246px,759px 304px,724px 247px,646px 210px,601px 163px,613px 148px,623px 47px,586px 95px,570px 113px,543px 193px,536px 144px,521px 116px,499px 94px,523px 51px,458px 70px,463px 57px,456px 49px,409px 58px,393px 81px,380px 75px,296px 109px,288px 133px,257px 143px,243px 67px,221px 130px,210px 121px,222px 105px,168px 66px,154px 67px);
    background: url("../img/rainbow.gif") repeat;
    width: 788px;
    height: 332px;
    animation: rainbow 2s linear infinite;
  }
}

.optionform {
  z-index: 10; // gui level
  position: absolute;
  left: 0;
  .toggle {
    background: url("../img/option_handle.gif") no-repeat;
    display: inline-block;
    width: 25px;
    height: 40px;
    float: right;
    top: 130px;
    left: -70px;
    position: relative;
    transition: left 0.5s ease-in-out;
    cursor: pointer;
  }
  form[name='options'] {
    width: 100px;
    height: 350px;
    background: url("../img/option_body.gif") no-repeat right center;
    color: white;
    padding: 30px 10px 10px 10px;
    border: 0 none;
    position: relative;
    transition: left 0.5s ease-in-out;
    left: -95px;
    fieldset {
      border: 0 none;
      padding: 0;
      margin: 0;
    }
    input[type="checkbox"],
    input[type="radio"] {
      position: absolute;
      left: -9999px;
      top: -9999px;
    }
    input[type="checkbox"] ~ label,
    input[type="radio"] ~ label {
      display: block;
      width: 70px;
      height: 70px;
      transition: background 0.35s ease-in-out;
    }
    #playMusic ~ label.toggle-music {
      background: url("../img/button-music_off.gif") no-repeat;
    }
    #playMusic:checked ~ label.toggle-music {
      background: url("../img/button-music_on.png") no-repeat;
    }
    #useVideo ~ label.toggle-video {
      background: url("../img/button-video_off.gif") no-repeat;
    }
    #useVideo:checked ~ label.toggle-video {
      background: url("../img/button-video_on.png") no-repeat;
    }
    #starfield_toggle ~ label.toggle-starfield {
      background: url("../img/button-stars_off.gif") no-repeat;
    }
    #starfield_toggle:checked ~ label.toggle-starfield {
      background: url("../img/button-stars_on.png") no-repeat;
    }
    #zwoD-switch ~ label.switch-2d {
      background: url("../img/button-2d_off.gif") no-repeat;
    }
    #zwoD-switch:checked ~ label.switch-2d {
      background: url("../img/button-2d_on.png") no-repeat;
    }
    #dreiD-switch ~ label.switch-3d {
      background: url("../img/button-3d_off.gif") no-repeat;
    }
    #dreiD-switch:checked ~ label.switch-3d {
      background: url("../img/button-3d_on.png") no-repeat;
    }
  }
  &.toggled {
    form[name='options'] {
      left: 0px;
    }
    .toggle {
      left: 25px;
    }
  }
}

.greetings {
  width: 100%;
  height: 75px;
  text-align: center;
  overflow: hidden;
  position: absolute;
  bottom: 0px;
  //animation: greetings_wobble 1.5s infinite ease-in-out;
  .text {
    top: 0px;
    transition: top 2s ease-in-out;
    background: -webkit-gradient(linear,  left top,  left bottom,
                color-stop(0%, rgba(255, 0, 0, 1)),
                color-stop(15%, rgba(255, 255, 0, 1)),
                color-stop(30%, rgba(0, 255, 0, 1)),
                color-stop(50%, rgba(0, 255, 255, 1)),
                color-stop(65%, rgba(0, 0, 255, 1)),
                color-stop(80%, rgba(255, 0, 255, 1)),
                color-stop(100%, rgba(255, 0, 0, 1)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'asciid';
    font-size: 70px;
    position: absolute;
    bottom: 0;
    left: 0;
    letter-spacing: 13px;
    // white-space: nowrap;
    display: block;
    margin: 0;
    padding: 0;
    width: auto;
    z-index: 9; // scroller level
  }
}

#container {
  overflow: hidden;
  margin: 0 auto;
  z-index: 2; // display level
  position: relative;
  .cell {
    background-color: rgba(255,255,255,0.25);
    float: left;
    margin-left: 1px;
    margin-bottom: 1px;
  }
}
.helperCanvas {
  display: none;
}

#videoDiv {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 10px;
  .imgSource {
    display: none;
  }
}
