body {
  background-color: black;
  transition: background-color 1s;
  .star {
    background-color: rgba(255,255,255,1);
    height: 2px;
    width: 2px;
    border-radius: 50%;
    position: absolute;
    z-index: 10;
    transition: left 10s ease-in, top 10s ease-in
  }
}
.inputform {
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  padding: 10px;
  margin: 20px;
  float: left;
  z-index: 99;
    form {
      color: white;
    }
}
#container {
  overflow: hidden;
  margin: 0 auto;
  z-index: 50;
  .cell {
    background-color: rgba(255,255,255,0.25);
    float: left;
    margin-left: 1px;
    margin-bottom: 1px;
  }
}
#videoCanvas {
  display: none;
}
#videoDiv {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 10px;
}
